<body class="main">
    <header class="primary-header flex bg-transparent pt-4">
        <div class="text-white ms-4"><i class="fab fa-jedi-order fa-5x text-center"></i></div>
        <button appHighlite class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">Menu</span></button>
        <nav >
            <ul id="primary-navigation" data-visible="false"
             class="primary-navigation flex" appHighlite>
                <li class="active "><a href="" class="ff-sans-cond uppercase text-white letter-spacing-2"><span aria-hidden="true">01</span>Home</a></li>
                <li class="active"><a href="" class="ff-sans-cond uppercase text-white letter-spacing-2"><span aria-hidden="true">02</span>About</a></li>
                <li class="active"><a href="" class="ff-sans-cond uppercase text-white letter-spacing-2"><span aria-hidden="true">03</span>Menu</a></li>
                <li class="active"><a href="" class="ff-sans-cond uppercase text-white letter-spacing-2"><span aria-hidden="true">04</span>Products</a></li>
         
            </ul>
        </nav>
    </header>


    <main>
        <div class="dropdown">
            <div class="example-container box1">
               
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list box1side"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box car items " *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
              </div>
              
              <div class="example-container bg-light  box2">
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList]"
                  class="example-list box2side"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box car item" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
              </div>
              
        </div>
          
    </main>



    
    
    
    
    
   
</body>







<!-- ----------------------------nav---------------------- -->
<script>
    const primaryNav= document.querySelector(".primary-navigation");
const navToggle= document.querySelector(".mobile-nav-toggle");

navToggle.addEventListener("click",()=>{
    const visibility=primaryNav.getAttribute("data-visible")

    if(visibility ==="false"){
        primaryNav.setAttribute('data-visible',true);
        navToggle.setAttribute("aria-expanded",true)
    }else if(visibility === "true"){
        primaryNav.setAttribute('data-visible',false)
        navToggle.setAttribute("aria-expanded",false)
    }
});

</script>
<!-- ----------------------------nav---------------------- -->