<div class="form-container">
    <form action="" appHighlite>
        <h3>Login</h3>
        <i class="fas fa-user"></i>&nbsp;
        <input type="text" placeholder="Username"/><br>
        <i class="fas fa-lock"></i>&nbsp;
        <input type="password" placeholder="Password"/>
        <button class="loginbtn">Login</button>
        
    </form>
</div>


<script>

var form =document.getElementById('form');

form.addEventListener('mousemove',(e)=>{

var x = (window.innerWidth / 2 -e.pageX) / 12 ;
var y = (window.innerHeight / 2 -e.pageY) / 12 ;

form.style.transform ='rotateX('+x+' deg) rotateY(' +y+'deg)' ;}); 
form.addEventListener('mousemove',function() {
form.style.transform ='rotateX(0deg) rotateY(0deg)' }); 


</script>