*{
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    transition: all .2s linear;
}

.form-container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(\src\assets\images\banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container form{
    height: 500px;
    width: 400px;
    background: rgba(255,255,255,.1);
    text-align: center ;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,.3);
    border-left: 1px solid rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
}
.form-container form h3{
    margin-top: 35px;
    font-size: 30px;
    padding: 30px 0;
    color:#ccc;
    letter-spacing: 3px;
}
.form-container form i{
    padding: 0 5px;
    font-size: 20px;
    color: #bbb;
}
.form-container form input{
    outline: none;
    border: none;
    height: 40px;
    width: 78%;
    background: rgba(0,0,0,0.1);
    color: rgba(255,255,255,.7);
    box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
    font-size: 17px;
    padding: 0 10px;
    margin: 25px 0;
    letter-spacing: 1px; 
    border-radius: .3rem;
}
.form-container form input:hover{
    box-shadow: 0 0 5px rgba(139, 139, 139, 0.3) inset ;
    background: rgba(144, 143, 143, 0.1);
}



.form-container form input[type="submit"]:hover{
    letter-spacing: 4px;
    
}

.loginbtn{
    outline: none;
    border: none;
    margin: auto;
    margin-top: 70px;
    width: 55%;
    height: 40px;
    background: linear-gradient(90deg,deeppink,blueviolet);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn::before{
    content: "";
    background-image: conic-gradient(
        #f83c3c 200deg,
        transparent 120deg
    );
    width: 100%;
    height: 75%;
    position: absolute;
    animation: rotate 4s linear infinite;
}
.loginbtn::after{
    content: "Login";
    outline: none;
    border: none;
    width: 98%;
    height: 35px;
    background: linear-gradient(90deg,deeppink,blueviolet);
    position: absolute;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    letter-spacing: 1px;
}
.loginbtn:hover::after{
    letter-spacing: 4px;
    transition: all .2s linear;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
   100% {transform: rotate(-360deg);}
}