<main>
    <div class="form-container">
        <form action="" [formGroup]="orgin" (ngSubmit)="orginForm()">
            <button class="orginhead bg-transparent" (click)="login()"
                [ngClass]="log? 'selectHighlite' : '' ">Login</button>&nbsp;&nbsp;
            <button class="orginhead bg-transparent" (click)="register()"
                [ngClass]="reg? 'selectHighlite' : '' ">Register</button><br>
            <div class="error"
                *ngIf="(this.orgin.get('username')?.touched||this.orgin.get('username')?.dirty)&&this.orgin.get('username')?.errors">
                Invalide Username</div>
            <i class="fas fa-user"></i>&nbsp;
            <input type="text" placeholder="Username" name="username" formControlName="username" /><br>
            <div class="error"
                *ngIf="(this.orgin.get('uname')?.touched||this.orgin.get('uname')?.dirty)&&this.orgin.get('uname')?.errors&&reg">
                Invalide mail</div>
            <i class="fas fa-at" *ngIf="reg"></i>&nbsp;
            <input type="text" placeholder="Your Name" name="uname" formControlName="uname" *ngIf="reg"  /><br>
            <div class="error"
                *ngIf="(this.orgin.get('pswd')?.touched||this.orgin.get('pswd')?.dirty)&&this.orgin.get('pswd')?.errors">
                Invalide Password</div>
            <i class="fas fa-lock"></i>&nbsp;
            <input type="password" placeholder="Password" name="pswd" formControlName="pswd" required />
            <button class="loginbtn" *ngIf="log" (click)="logForm()">Login</button>
            <button class="registerbtn" *ngIf="reg" (click)="regForm()">Register</button>
        </form>

    </div>
</main>