/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(245, 243, 245);
    

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.car{
    
    background: rgba(255,255,255,.1);
    text-align: center ;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,.3);
    border-left: 1px solid rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
}